@import "../../../setting/settings";
@import "../Home/blog";

.titleBox {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: 'Abril Fatface', cursive;
        font-weight: 400;
        color: #00156A;
        font-size: 40px;
        line-height: 36px;
    }

    p {
        font-size: 21px;
        color: black;
        font-weight: 500;
        
    }
}

.searchbox {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;

        a {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
            box-sizing: content-box;
            color: #212121;
            display: block;
            margin-left: -1px;
            min-height: 30px;
            min-width: 30px;
            position: relative;
            text-align: center;
            text-decoration: none;
            transition: .4s ease-in-out;

            &:hover {
                background-color: #4A42EA;
                color: #ffff;
            }
        }

        a.active {
            background-color: #4A42EA;
            color: #ffff;
        }
    }
}