
@use "../../../components/mainBtn";
@import "../../../setting/settings";
@import "../../../layout/NavBar/fixedTopbar";
@import "../../../layout/NavBar/fullNav";
@import "./sponsor";
@import "./event-card";
@import "../../../components/banner";
@import "../faq";
@import "../../../layout/Footer/footer";


.banner-btn{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        top: 100%;
        left: 0;
        height: 176px;
        @include respond(lp-sm) {
            height: 180px;
        }
    }
    z-index: 4;
    background-size: cover;
    .w-full{
        position: absolute;
        bottom: 100%;
        left: 0;
        z-index: 1;
    }

    .eventRegistrationBtn{
        z-index: 5;
    }

    
    @include mainBtn.glowing-lg;
}

.container.content{
    margin-top: 60px;
    @include respond(lp-sm) {
        margin-top: 66px;
    }
}

.carnival-description{
    margin: 0 auto;
    width: 80%;
    border: 2px solid red;
    font-size: 20px;
    line-height: 24px;
    font-family: "Newsreader", serif !important;
    font-weight: 500;
}
