<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/event-card.css">
</head>

<body>
    <div class="engg-shishir-container">
        <div class="engg-shishir-row">
            <div class="engg-shishir-event-card">
                <div class="engg-shishir-circle"></div>
                <div class="engg-shishir-ec-left">
                    <div class="engg-shishir-ecl-event-title">
                        <h1>IUPC</h1>
                    </div>
                    <div class="engg-shishir-ecl-event-sedule">
                        <div class="engg-shishir-ecles-left">
                            <div class="engg-shishir-eclesl-time">
                                <span>Start</span> <span>19,January 2023</span>
                            </div>
                            <div class="engg-shishir-eclesl-time">
                                <span>End</span> <span>20,January 2023</span>
                            </div>
                        </div>
                        <hr />
                        <div class="engg-shishir-ecles-right">
                            <p>On Campus</p>
                        </div>
                    </div>
                    <div class="engg-shishir-ecl-description">
                        <h1>Description</h1>
                        <p>The International University Programming Contest (IUPC) is a prestigious programming
                            competition that attracts talented students from universities across the globe. Held over
                            two days, the contest challenges participants to solve complex programming problems using
                            their knowledge and skills. Teams of three students compete against each other, with the
                            winners advancing to the finals.</p>
                    </div>
                </div>
                <div class="engg-shishir-ec-right">
                    <div class="engg-shishir-sponsor">
                        <h2>Sponsor</h2>
                        <div class="engg-shishir-icon">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                        </div>
                    </div>
                    <div class="engg-shishir-details-btn">
                        <a href="">View Details</a>
                    </div>
                </div>
            </div>
            <div class="engg-shishir-event-card">
                <div class="engg-shishir-circle"></div>
                <div class="engg-shishir-ec-left">
                    <div class="engg-shishir-ecl-event-title">
                        <h1>Hackathon</h1>
                    </div>
                    <div class="engg-shishir-ecl-event-sedule">
                        <div class="engg-shishir-ecles-left">
                            <div class="engg-shishir-eclesl-time">
                                <span>Start</span> <span>19,January 2023</span>
                            </div>
                            <div class="engg-shishir-eclesl-time">
                                <span>End</span> <span>20,January 2023</span>
                            </div>
                        </div>
                        <div class="engg-shishir-ecles-right">
                            <p>On Campus</p>
                        </div>
                    </div>
                    <div class="engg-shishir-ecl-description">
                        <h1>Description</h1>
                        <p>A hackathon is a fast-paced event that brings together programmers, designers, and
                            entrepreneurs to collaborate and develop innovative solutions to real-world problems.
                            Participants work in teams to build prototypes and create functioning software or hardware
                            products within a limited time frame, often 24-48 hours. The event typically features expert
                            speakers, mentorship, and opportunities for networking and prizes.</p>
                    </div>
                </div>
                <div class="engg-shishir-ec-right">
                    <div class="engg-shishir-sponsor">
                        <h2>Sponsor</h2>
                        <div class="engg-shishir-icon">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                        </div>
                    </div>
                    <div class="engg-shishir-details-btn">
                        <a href="">View Details</a>
                    </div>
                </div>
            </div>
            <div class="engg-shishir-event-card">
                <div class="engg-shishir-circle"></div>
                <div class="engg-shishir-ec-left">
                    <div class="engg-shishir-ecl-event-title">
                        <h1>Chess Tournament</h1>
                    </div>
                    <div class="engg-shishir-ecl-event-sedule">
                        <div class="engg-shishir-ecles-left">
                            <div class="engg-shishir-eclesl-time">
                                <span>Start</span> <span>19,January 2023</span>
                            </div>
                            <div class="engg-shishir-eclesl-time">
                                <span>End</span> <span>20,January 2023</span>
                            </div>
                        </div>
                        <div class="engg-shishir-ecles-right">
                            <p>On Campus</p>
                        </div>
                    </div>
                    <div class="engg-shishir-ecl-description">
                        <h1>Description</h1>
                        <p>The IT Carnival Chess Tournament is a highly anticipated event for tech professionals and
                            chess enthusiasts alike. The tournament offers a unique opportunity for individuals to
                            showcase their strategic thinking and compete against other like-minded individuals in the
                            tech industry. Held at the Convention Center in San Francisco, the event promises to be an
                            exciting day filled with competition and networking opportunities.</p>
                    </div>
                </div>
                <div class="engg-shishir-ec-right">
                    <div class="engg-shishir-sponsor">
                        <h2>Sponsor</h2>
                        <div class="engg-shishir-icon">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                        </div>
                    </div>
                    <div class="engg-shishir-details-btn">
                        <a href="">View Details</a>
                    </div>
                </div>
            </div>
            <div class="engg-shishir-event-card">
                <div class="engg-shishir-circle"></div>
                <div class="engg-shishir-ec-left">
                    <div class="engg-shishir-ecl-event-title">
                        <h1>Valorant Championship</h1>
                    </div>
                    <div class="engg-shishir-ecl-event-sedule">
                        <div class="engg-shishir-ecles-left">
                            <div class="engg-shishir-eclesl-time">
                                <span>Start</span> <span>19,January 2023</span>
                            </div>
                            <div class="engg-shishir-eclesl-time">
                                <span>End</span> <span>20,January 2023</span>
                            </div>
                        </div>
                        <div class="engg-shishir-ecles-right">
                            <p>On Campus</p>
                        </div>
                    </div>
                    <div class="engg-shishir-ecl-description">
                        <h1>Description</h1>
                        <p>A Valorant Championship is an esports tournament that features teams of professional gamers
                            competing against each other in the popular first-person shooter game, Valorant. Players
                            compete in a series of matches, with the top teams advancing to the finals. The event offers
                            significant cash prizes and attracts a large audience of esports enthusiasts. It is a highly
                            competitive and exciting event for both players and spectators alike.</p>
                    </div>
                </div>
                <div class="engg-shishir-ec-right">
                    <div class="engg-shishir-sponsor">
                        <h2>Sponsor</h2>
                        <div class="engg-shishir-icon">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                        </div>
                    </div>
                    <div class="engg-shishir-details-btn">
                        <a href="">View Details</a>
                    </div>
                </div>
            </div>
            <div class="engg-shishir-event-card">
                <div class="engg-shishir-circle"></div>
                <div class="engg-shishir-ec-left">
                    <div class="engg-shishir-ecl-event-title">
                        <h1>PSTU Events</h1>
                    </div>
                    <div class="engg-shishir-ecl-event-sedule">
                        <div class="engg-shishir-ecles-left">
                            <div class="engg-shishir-eclesl-time">
                                <span>Start</span> <span>19,January 2023</span>
                            </div>
                            <div class="engg-shishir-eclesl-time">
                                <span>End</span> <span>20,January 2023</span>
                            </div>
                        </div>
                        <div class="engg-shishir-ecles-right">
                            <p>On Campus</p>
                        </div>
                    </div>
                    <div class="engg-shishir-ecl-description">
                        <h1>Description</h1>
                        <p>Intra-versity events are competitions or events that take place within a single university or
                            college. These events may include sports tournaments, academic competitions, hackathons,
                            cultural festivals, and more. Intra-versity events are a great way for students to showcase
                            their talents, connect with peers, and develop new skills. They also foster a sense of
                            community and school spirit on campus.</p>
                    </div>
                </div>
                <div class="engg-shishir-ec-right">
                    <div class="engg-shishir-sponsor">
                        <h2>Sponsor</h2>
                        <div class="engg-shishir-icon">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                        </div>
                    </div>
                    <div class="engg-shishir-details-btn">
                        <a href="">View Details</a>
                    </div>
                </div>
            </div>
            <div class="engg-shishir-event-card">
                <div class="engg-shishir-circle"></div>
                <div class="engg-shishir-ec-left">
                    <div class="engg-shishir-ecl-event-title">
                        <h1>PSTU Gaming</h1>
                    </div>
                    <div class="engg-shishir-ecl-event-sedule">
                        <div class="engg-shishir-ecles-left">
                            <div class="engg-shishir-eclesl-time">
                                <span>Start</span> <span>19,January 2023</span>
                            </div>
                            <div class="engg-shishir-eclesl-time">
                                <span>End</span> <span>20,January 2023</span>
                            </div>
                        </div>
                        <div class="engg-shishir-ecles-right">
                            <p>On Campus</p>
                        </div>
                    </div>
                    <div class="engg-shishir-ecl-description">
                        <h1>Description</h1>
                        <p>PSTU Gaming is a gaming community that is dedicated to bringing together gamers from all
                            backgrounds and skill levels. The community offers a platform for gamers to connect, share
                            strategies, and participate in gaming tournaments and events. PSTU Gaming is open to gamers
                            of all ages and aims to promote the fun and social aspects of gaming while also encouraging
                            competitive gameplay.</p>
                    </div>
                </div>
                <div class="engg-shishir-ec-right">
                    <div class="engg-shishir-sponsor">
                        <h2>Sponsor</h2>
                        <div class="engg-shishir-icon">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                            <img src="./Image/download.png" alt="">
                        </div>
                    </div>
                    <div class="engg-shishir-details-btn">
                        <a href="">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>