<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club | Navbar</title>
    <link rel="stylesheet" href="./css/navbar.css">
</head>
<body>
    <div class="container">
      <div class="engg-shishir-fixed">
         <h1>Scroll Down</h1>
      </div>
        <div class="engg-shishir-navbar">
            <div class="engg-shishir-nav-left">
                <img src="./Image/logo.svg" alt="">
            </div>
            <div class="engg-shishir-nav-right">
                <a href="" class="engg-shishir-nav-right-event">It carnival 2023</a>
                <a href="" class="engg-shishir-nav-right-login">Login</a>
                <div class="engg-shishir-nav-right-menu"  onclick="hamburger()">
                    <span class="text">MENU</span>
                    <span class="hamburger">
                      <i class="line"></i>
                      <i class="line"></i>
                      <i class="line"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="engg-shishir-fullnav">
            <div class="engg-shishir-fullnav-menu">
                <div class="tabbar">
                    <ul class="tabs-menu">
                        <li class="tab-li tab-li-active">Programs</li>
                        <li class="tab-li">More</li>
                    </ul>
                </div>
                <div class="tab-content">
                    <ul class="tab-li-content engg-shishir-fullnav-left-ul tab-li-content-active">
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>IT Carinival 2023</p>
                           <p>IT Carinival 2023</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Front End Development</p>
                           <p>Front End Development</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Cyber Security</p>
                           <p>Cyber Security</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Digital Marketing</p>
                           <p>Digital Marketing</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Project Showcase</p>
                           <p>Project Showcase</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Executive Member</p>
                           <p>Executive Member</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>ICPC Bootcamp</p>
                           <p>ICPC Bootcamp</p>
                        </a></li>
                    </ul>
                    <ul class="tab-li-content engg-shishir-fullnav-right-ul">
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Alumini</p>
                           <p>Alumini</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Executive Member</p>
                           <p>Executive Member</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Admission</p>
                           <p>Admission</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>partners</p>
                           <p>partners</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Shedule</p>
                           <p>Shedule</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Faculty</p>
                           <p>Faculty</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>About</p>
                           <p>About</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Contact</p>
                           <p>Contact</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>FAQ</p>
                           <p>FAQ</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Blog</p>
                           <p>Blog</p>
                        </a></li>
                        <li class="shishir-navitem"><a href="" class="shishir-navLink">
                           <p>Suport Us</p>
                           <p>Suport Us</p>
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="engg-shishir-fullnav-content">

            </div>
        </div>
    </div>

    <div class="container content"></div>
    <script src="./js/navbar.js"></script>
</body>
</html>