<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club | Navbar</title>
    <link rel="stylesheet" href="./css/navbar.css">
    <script src="./js/navbar.js"></script>
</head>
<body>
    <div class="container">
        <div class="engg-shishir-navbar">
            <div class="engg-shishir-nav-left">
                <img src="./Image/logo.svg" alt="">
            </div>
            <div class="engg-shishir-nav-right">
                <a href="" class="engg-shishir-nav-right-event">It carnival 2023</a>
                <a href="" class="engg-shishir-nav-right-login">Login</a>
                <div class="engg-shishir-nav-right-menu"  onclick="hamburger()">
                    <span class="text">MENU</span>
                    <span class="hamburger">
                      <i class="line"></i>
                      <i class="line"></i>
                      <i class="line"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="engg-shishir-fullnav">

        </div>
    </div>
</body>
</html>