// regular text  -- font-family: 'Roboto', sans-serif;


// Blog Title 600
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,600;1,500&display=swap');
// font-family: 'Noto Serif', serif; 
//font-weight:600 or 500

// Large Title or main heading
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
// font-family: 'Abril Fatface', cursive;
//font-weight: 400;


// General text
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,500&display=swap');
//font-family: 'Newsreader', serif;
//font-weight: 400 or 500

// Profile / Author name
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// font-family: 'Pacifico', cursive;
//font-weight: 400;



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: $white;
}
ul{
  list-style: none;
}

p{
  pointer-events: none !important;
}

