// regular text  -- font-family: 'Roboto', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
// Midd heading -- font-family: 'Open Sans', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
// Large Heading -- font-family: 'DM Serif Display', serif;
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&family=Lilita+One&family=Noto+Sans:wght@300&family=Open+Sans:ital,wght@1,300&family=PT+Sans&display=swap');
// font-family: 'Lato', sans-serif; 300,900
// font-family: 'Lilita One', cursive;  300
// font-family: 'Noto Sans', sans-serif;  300
// font-family: 'Open Sans', sans-serif;
// font-family: 'PT Sans', sans-serif;   36px,400

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: $white;
}
ul{
  list-style: none;
}

p{
  pointer-events: none !important;
}

