@import "../../Setting/settings";

.container {
  @include respond(tb-sm) {
    padding: 0px;
  }

  @include respond(lp-sm) {
    width: 95%;
  }
  
   @import "./component/NavBar/topbar";
   @import "./component/NavBar/fullNav";
   @import "./component/NavBar/fixed-top-landing-section";


}

// Optional ----- Just write for testing
.content{
  position: absolute;
  height: 200vh;
  width: 100%;
  background-color: whitesmoke;
  top: 100%;
  left: 0;
  z-index: -1 !important;
}