@use "../../../components/mainBtn";
@use "../../../components/select2";
@import "../../../setting/settings";
@import "./event-card";


.content{
  margin-top:66px !important;
  padding: 20px !important;
  margin-right: 50px !important;
}