
.container{
    width:100%;
    margin: 0 auto;
    padding: 0 5px;
    background-color: $Blueberry-300;
    @include respond(mb-sm) {
      flex-direction: column;
      background-color: $white;
      padding: 3rem;
    }
}



