@use "../../components/mainBtn";
@import "../../setting/settings";
@import "../../layout/NavBar/fixedTopbar";
@import "./navbar";


html {
  font-size: 100%;
}

.content {
  margin-top: 66px !important;
  padding: 20px !important;
  margin-right: 50px !important;
}
