footer {
  background-color: $blue;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px !important;
  hr {
    margin: 20px 0;
  }
  .footer-top {
    .footer-top-box {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin: 10px 0;
      padding: 0 10px;
      @include respond(lp-sm){
        flex-direction: row;
        justify-content: space-between;
      }
      &-left {
        flex: 0 0 100%;
        min-width: 0 0 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: #e8ae28;
        @include respond(lp-sm) {
          flex: 0 0 50%;
          min-width: 0 0 50%;
          width: 50%;
        }
        .footer-logo-box {
          position: relative;
          overflow: hidden;
          width: 400px;
          height: 100px;
          margin-left: 100px;
          img {
            margin-bottom: 15px;
            padding: 5px 10px;
          }

          &:after {
            background: #fff;
            content: "";
            height: 100%;
            width: 100%;
            left: -100%;
            opacity: 0.2;
            position: absolute;
            transform: rotate(35deg);
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
          }
        }
        p {
          color: white;
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          margin: 5px 0px;
        }
        ul {
          margin-top: 20px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          li {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin: 0 10px;
            line-height: 18px;
            a{ 
              color: rgb(163, 163, 163);
            }
          }
        }
      }
      &-right {
        flex: 0 0 100%;
        min-width: 0 0 100%;
        width: 100%;
        margin-top: 15px;
        @include respond(lp-sm) {
          flex: 0 0 50%;
          min-width: 0 0 50%;
          width: 50%;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        p {
          font-size: 15px;
          line-height: 16px;
          font-weight: 600;
          margin-bottom: 10px;
          color: $white;
        }
        .social {
          li {
            display: inline-block;
            margin-right: 5px;
            position: relative;
            a {
              display: inline-block;
              position: relative;
              overflow: hidden;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 16px;
              }

              &:after {
                background: #fff;
                content: "";
                height: 155px;
                left: -75px;
                opacity: 0.5;
                position: absolute;
                top: -50px;
                transform: rotate(35deg);
                transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                width: 50px;
                //   z-index: -10;
              }
              &:hover {
                &:after {
                  left: 120%;
                  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                }
              }
            }
          }

          li:nth-child(1) > a {
            background: #3b579b;
          }
          li:nth-child(2) > a {
            background: #573898;
          }
          li:nth-child(3) > a {
            background: #97325c;
          }
          li:nth-child(4) > a {
            background: #e8ae28;
          }
          li:nth-child(5) > a {
            background: #03687a;
          }
        }
      }
    }
  }
  .footer-botom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    margin-bottom: 10px;
    p {
      color: $white;
      color: white;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  }

  
  &:hover {
    .footer-top{
        .footer-top-box{
            &-left{
                .footer-logo-box{
                    &:after {
                        left: 120%;
                        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                    }
                }
            }
        }
    }
}
}
